---
k3s_version: v1.28.2+k3s1
systemd_dir: /etc/systemd/system
k3s_master_ip: "{{ groups['main_master'][0] }}"
k3s_master_extra_args: ""
k3s_worker_extra_args: ""
k3s_datastore_endpoint: "
vault_hostname: ""
vault_auth_token: ""