apiVersion: v1
kind: Secret
metadata:
  name: homelab-repository-secret
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: "ssh://git@github.com/kaidobit/homelab"
  sshPrivateKey: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    ...
    -----END OPENSSH PRIVATE KEY-----